<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
</head>
<body>
    <header>
        <h1>Book List</h1>
        <nav>
            <a href="{% url 'book_create' %}">Add New Book</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Available Books</h2>
            <ul>
                {% for book in books %}
                <li>
                    <strong><a href="{% url 'book_detail' book.pk %}">{{ book.title }}</a></strong> 
                    by {{ book.author.name }}
                </li>
                {% empty %}
                <li>No books available.</li>
                {% endfor %}
            </ul>



        </section>
    </main>
</body>
</html>